*{
    margin: 0px;
    padding: 0px;
}
.tblstyle{
    position: relative;
    left: 30%;
    /* top: 50%; */
    width: 500px;
    height: auto;
    border: 2px solid green;
    box-shadow: 2px 2px;
    background-color: pink;
    margin-top: 100px;
}

.reg_form{
    width: 500px;
    height: auto;
    background-color:lightblue;
    box-shadow: 2px 2px 2px 2px;
    position: relative;
    left: 30%;
    margin-top: 2%;
}
.inpt{
    padding: 3px;
    margin: 10px;
    position: relative;
    left: 2%;
    width: 170px;
}