*{
    margin: 0px;
    padding: 0px;
}
.tblstyle{
    position: relative;
    left: 30%;
    /* top: 50%; */
    width: 500px;
    height: auto;
    border: 2px solid green;
    box-shadow: 5px 5px 8px rgb(123, 255, 0), 10px 10px 8px red, 15px 15px 8px rgb(128, 0, 0);
    background-color: pink;
    margin-top: 100px;
}

.reg_form{
    width: 500px;
    height: auto;
    background-color:lightblue;
    box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
    position: relative;
    left: 30%;
    margin-top: 2%;
}
.inpt{
    padding: 3px;
    margin: 10px;
    position: relative;
    left: 2%;
    width: 170px;
}
.inpt-one{
    position: relative; 
    left: 1%;
    padding: 3px;
    margin: 10px;
}
h1{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    text-align: center;
}