*{
    margin: 0px;
    padding: 0px;
}

.reg_box{
    display: flex;
    margin-top: 50px;
}
.tblstyle{
    position: relative;
    left: 9%;
    /* top: 50%; */
    width: 400px;
    height: auto;
    border: 2px solid green;
    box-shadow: 5px 5px 8px rgb(123, 255, 0), 10px 10px 8px red, 15px 15px 8px rgb(128, 0, 0);
    background-color: pink;
   
}

.reg_form{
    width: 350px;
   height: 300px;
    background-color:lightblue;
    box-shadow: 5px 5px 8px rgb(238, 255, 0), 10px 10px 8px rgb(0, 26, 255), 15px 15px 8px green;
    position: relative;
    left: 3%;
   
}
.inpt{
    padding: 3px;
    margin-top: 70px;
    position: relative;
    left: 10%;
    width: 170px;
}
.inpt-one{
    position: relative; 
    left: 8%;
    padding: 3px;
 
}
h1{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    text-align: center;
}
.select-box{
    width: 368px;
    border: 1px solid green;
    position: relative;

    left: 14%;

}
h4{
    text-align: center;
    margin-top: 10px;
}